[Master]
num_of_sub_co = 5
num_of_res_co = 5
num_of_workers = 5


[sub-id-list]
sub_id_list: employee,manager

[res-id-list]
res_id_list: bank A,bank B

[Application]
num_of_request : 6
1 : sub_id =employee,sub_attrs=history:empty,res_id=bank B,res_attrs=None,action=read
2 : sub_id =employee,sub_attrs=history:empty,res_id=bank A,res_attrs=None,action=read
3 : sub_id =employee,sub_attrs=history:empty,res_id=bank B,res_attrs=None,action=read
4 : sub_id =employee,sub_attrs=history:empty,res_id=bank A,res_attrs=None,action=read
5 : sub_id =employee,sub_attrs=history:empty,res_id=bank B,res_attrs=None,action=read
6 : sub_id =employee,sub_attrs=history:empty,res_id=bank A,res_attrs=None,action=read