[Master]
num_of_sub_co = 2
num_of_res_co = 2
num_of_workers = 2


[sub-id-list]
sub_id_list: employee,manager

[res-id-list]
res_id_list: bank A,bank B

[Application]
num_of_request : 2
1 : sub_id =employee,sub_attrs=history:empty,res_id=bank A,res_attrs=None,action=read
2 : sub_id =manager,sub_attrs=history:empty,res_id=bank A,res_attrs=None,action=read